form div {
    text-align: center;
    padding: 1em;
}

label, input, button, span, main a {
    font-size: xx-large;
    margin-left: 1em;
}

button {
    margin: 0.5em;
    margin-left: 1em;
    color: #ffffff;
    background-color: #4c96d7;
}

footer {
    margin-top: 1em;
}